<?xml version="1.0" ?>
<!--
/**
 * MageMatch_Payment
 *
 * @category  MageMatch
 * @package   MageMatch/Payment
 * @author    MageMatch <arjundhiman90@gmail.com>
 * @copyright 2024 MageMatch
 * @license   MIT
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="MageMatch\Payment\Api\PaymentWebhookInterface" type="MageMatch\Payment\Model\Api\PaymentWebhook"/>

</config>
