<?xml version="1.0" ?>
<!--
/**
 * MageMatch_Payment
 *
 * @category  MageMatch
 * @package   MageMatch/Payment
 * @author    MageMatch <arjundhiman90@gmail.com>
 * @copyright 2024 MageMatch
 * @license   MIT
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Adyen\Payment\Helper\Requests">
        <plugin name="creditCardRequest" type="MageMatch\Payment\Plugin\RequestsPlugin" sortOrder="1"/>
    </type>
    <type name="Adyen\Payment\Helper\StateData">
        <plugin name="stateDataPlugin" type="MageMatch\Payment\Plugin\StateDataPlugin" sortOrder="1"/>
    </type>

    <type name="Adyen\Payment\Gateway\Http\Client\TransactionPayment">
        <plugin name="adyenPaymentResponse" type="MageMatch\Payment\Plugin\PaymentTransaction" sortOrder="1"/>
    </type>

    <type name="Magento\QuoteGraphQl\Model\Resolver\PlaceOrder">
        <plugin name="afterPlaceOrderGraphql" type="MageMatch\Payment\Plugin\AfterPlaceOrder" sortOrder="11"/>
    </type>

</config>
